.header {
  grid-template-areas:
      'common'
      'sticky';
  grid-template-columns: 1fr;
}
@media screen and (max-width: 989px) {
  .header--mobile {
    grid-template-areas: 'common';
  }
}
@media screen and (min-width: 990px) {
  .header:not(.header--middle-left, .header--middle-center) .header__inline-menu {
    margin-top: 0;
  }
}

/* COMMON HEADER */

.header__common {
  grid-area: common;

  display: grid;
  grid-template-areas: "left-icon heading icons";
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 1.5rem;
  align-items: center;
  padding: 0 1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}
@media screen and (min-width: 990px) {
  .header__common {
    grid-template-areas: "heading nav icons";
    grid-template-columns: 1fr auto auto;
    padding: 0 5rem;
  }
}

.header__common-heading {
  grid-area: heading;
  justify-self: center;

  margin: 0;
  line-height: 0;
}

.header__common-navigation {
  grid-area: nav;
  display: none;
}

@media screen and (min-width: 990px) {
  .header__common-heading {
    justify-self: start;
  }

  .header__common-navigation {
    display: block;
    position: relative;
    height: 100%;
  }

  .header__common-navigation:before,
  .header__common-navigation:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #e5e5e5;
    top: 0;
  }
  .header__common-navigation:before {
    left: 0;
  }
  .header__common-navigation:after {
    right: 0;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px 2rem;
    gap: 3rem;
  }
  .navigation-list li {
    margin: 24px 0px;
    width: auto;
    height: auto;
  }

  .navigation-list__item {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
  }
}

.header__common-account {
  grid-area: icons;
  justify-self: end;
  width: 2.85rem;
  height: 2.85rem;
  fill: inherit;
}

/* FIXED HEADER */

.header__sticky {
  display: none;
}

@media screen and (min-width: 990px) {
  .header__sticky {
    grid-area: sticky;
    display: grid;
    grid-template-areas: "links icons";
    grid-template-columns: 1fr auto;
    column-gap: 1.5rem;
    align-items: center;
    padding: 0 5rem;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
    min-height: 50px;

    position: relative;
    transition: position 0.3s ease;
  }

  .sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
  }
}

.header__sticky-navigation {
  grid-area: links;
  justify-self: center;
}

.header__sticky-icons {
  grid-area: icons;
  justify-self: end;
}

/* MOBILE DRAWER */

.header__common .icon-hamburger {
  width: 2.85rem;
  height: 2.85rem;
  fill: inherit;
}
